@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: center;
  
}

img {
  max-width: 400px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: 'color';
    padding: 8px 16px;
}

.header, .herobox, .footer {
  color: white;
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;

}

a {
  text-decoration: none;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.herobox {
  display: flex;
  justify-content: center;
  color: black;
  padding: 32px;
}

.infotitle {
  font-size: 32px;
  font-weight: 700;
  padding: 16px;
}

.infobox {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 16px;
  gap: 32px;
  
}

img.info {
  max-width: 200px;
  max-height: 200px;
}

.info {
  max-width: 200px;
} 

.quotebox {
  background-color: #e5e7eb;
  color: black;
}

.callbox {
  color: white;
  background-color: #3882f6;
}

.footer {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 32px;
}